.g-mn4 {
  float: left;
  width: 100%;
  margin-right: -270px;
}

.g-mn4c {
  margin-right: 271px;
}

.m-info {
  .cover {
    float: left;
    position: relative;
    display: inline;
    margin: 0 -220px 0 0;
  }

  .cnt {
    float: right;
    width: 100%;
  }

  .cntc {
    margin-left: 230px;
  }

  .hd {
    position: relative;
    margin: 0 0 12px;
    line-height: 24px;

    h2 {
      line-height: 24px;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .user {
    margin: 0 0 20px;
    line-height: 35px;

    .face {
      float: left;
      margin-right: 10px;
      width: 35px;
      height: 35px;

      img {
        float: left;
        width: 35px;
        height: 35px;
      }
    }

    .time {
      margin-left: 15px;
    }

    .btns {
      margin-bottom: 25px;
      margin-right: -10px;
    }

  }

  .btns {
    margin-bottom: 25px;
    margin-right: -10px;

    .u-btni-add {
      margin-right: 5px;
    }

    .u-btni {
      margin-right: 6px;
      font-family: simsun, \5b8b\4f53;
    }
  }

  .tags {
    margin: 25px 0 5px;
    line-height: 22px;
  }

  .intr {
    margin-top: 4px;
    line-height: 18px;
    color: #666;
  }

  .tit {
    margin-left: 64px;
    position: relative;
  }

  .tags {
    margin: 25px 0 5px;
    line-height: 22px;

    .u-tag {
      float: left;
      margin: 0px 10px 3px 0;
    }

    b {
      float: left;
    }
  }

  b {
    font-weight: normal;
    color: #666;
  }

  .intr {
    margin-top: 4px;
    line-height: 18px;
    color: #666;
  }
}

.u-cover-dj .msk {
  width: 208px;
  height: 208px;
  background-position: 0 -1285px;
  top: -4px;
  left: -4px;
}

.u-btni-share i,
.u-btni-fav i,
.u-btni-cmmt i,
.u-btni-dl i,
.u-btni-unfav i {
  padding-right: 2px;
  padding-left: 28px;
}

tr {
  .hshow {
    display: none;
  }

  &:hover {
    .hshow {
      display: block;
      position: relative;
      margin-right: -10px;
    }

    .u-dur {
      display: none;
    }
  }
}
