<div class="g-bd4 f-cb" *ngIf="playList">
  <div class="g-mn4">
    <div class="g-mn4c">
      <div class="g-wrap6">
        <div class="m-info f-cb">
          <div class="cover u-cover u-cover-dj">
            <img [src]="playList.coverImgUrl" alt="">
            <span class="msk"></span>
          </div>
          <div class="cnt">
            <div class="cntc">
              <div class="hd f-cb">
                <i class="f-fl u-icn u-icn-13 f-pr">
                  <span
                    style="display:inline-block;width:8px;height:8px;top:2px;background-size:cover;left:34px;"></span>
                </i>
                <div class="tit">
                  <h2 class="f-ff2 f-brk">{{ playList.name }}</h2>
                </div>
              </div>

              <div class="user f-cb">
                <a href="" class="face">
                  <img [src]="sheetUser?.profile.avatarUrl" alt="">
                </a>
                <span class="name">
                  <a href="" class="s-fc7">{{ sheetUser?.profile.nickname }}</a>
                </span>
                <img *ngIf="sheetUser?.identify"
                  style="height:13px;width:13px;display:inline-block;vertical-align:middle;"
                  [src]="sheetUser?.identify.imageUrl" alt="">
                <span class="time s-fc4">{{ playList.createTime | date: 'yyyy-MM-dd' }} 创建</span>
              </div>

              <div class="btns f-cb">
                <a href="javascript: void(0);" class="u-btn2 u-btn2-2 u-btni-addply f-fl" (click)="playSheet(true)">
                  <i>
                    <em class="ply"></em>
                    播放
                  </i>
                </a>
                <a href="javascript: void(0);" class="u-btni u-btni-add" (click)="playSheet(false)"></a>
                <a class="u-btni u-btni-fav">
                  <i>{{ playList.subscribedCount }}</i>
                </a>
                <a class="u-btni u-btni-share ">
                  <i>{{ playList.shareCount }}</i>
                </a>
                <a class="u-btni u-btni-dl">
                  <i>下载</i>
                </a>
                <a class="u-btni u-btni-cmmt">
                  <i>
                    <span>{{ playList.commentCount }}</span>
                  </i>
                </a>
              </div>

              <div class="tags f-cb">
                <b>标签： </b>
                <a class="u-tag" *ngFor="let tag of playList.tags">
                  <i>{{ tag }}</i>
                </a>
              </div>

              <div class="intr f-brk" [class.f-hide]="controlDesc.isExpand">
                <p [innerHTML]="description.short"></p>
              </div>

              <div class="intr f-brk" [class.f-hide]="!controlDesc.isExpand">
                <p [innerHTML]="description.long"></p>
              </div>

              <div class="expand" (click)="toggleDesc()" *ngIf="description.long">
                <span>{{controlDesc.label}}</span>
                <i nz-icon [nzType]="controlDesc.iconCls" nzTheme="outline"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="n-songtb">
          <div class="u-title u-title-1 f-cb">
            <h3>
              <span>歌曲列表</span>
            </h3>
            <span class="sub s-fc3">
              <span>{{ this.playList.tracks.length }}</span>
              首歌
            </span>
            <div class="more s-fc3">
              播放:
              <strong class="s-fc6">{{ this.playList.playCount }}</strong>
            </div>
          </div>

          <div>
            <div>
              <div class="j-flag">
                <table class="m-table">
                  <thead>
                    <tr>
                      <th class="first w1">
                        <div class="wp">&nbsp;</div>
                      </th>
                      <th>
                        <div class="wp af0"></div>
                      </th>
                      <th class="w2">
                        <div class="wp af1"></div>
                      </th>
                      <th class="w3">
                        <div class="wp af2"></div>
                      </th>
                      <th class="w4">
                        <div class="wp af3"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let track of this.playList.tracks;let i = index">
                      <td class="left">
                        <div class="hd">
                          <span class="ply " (click)="onPlaySong(track, true)"
                            [class.ply-z-slt]="currentSong?.id === track.id"></span>
                          <span class="num">{{ i + 1 }}</span>
                        </div>
                      </td>
                      <td>
                        <div class="f-cb">{{ track.name }}</div>
                      </td>
                      <td class="s-fc3">
                        <span class="u-dur">{{ track.dt }}</span>
                        <div class="opt hshow">
                          <a href="javascript:void(0);" class="u-icn u-icn-81 icn-add"
                            (click)="onPlaySong(track, false)"></a>
                          <span class="icn icn-fav"></span>
                          <span class="icn icn-share"></span>
                        </div>
                      </td>
                      <td>
                        <ng-container *ngFor="let singer of track.ar; last as isLast">
                          <div class="text">{{ singer.name }}</div>
                        </ng-container>
                      </td>
                      <td>
                        <div class="text">
                          {{ track.al.name }}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <app-wy-comment></app-wy-comment>
      </div>
    </div>


  </div>
  <div class="g-sd4"></div>
</div>
