<div class="g-bd4 f-cb" *ngIf="playList">
  <div class="g-mn4">
    <div class="g-mn4c">
      <div class="g-wrap6">
        <div class="m-info f-cb">
          <div class="cover u-cover u-cover-dj">
            <img [src]="playList.coverImgUrl" alt="">
            <span class="msk"></span>
          </div>
          <div class="cnt">
            <div class="cntc">
              <div class="hd f-cb">
                <i class="f-fl u-icn u-icn-13 f-pr">
                  <span style="display:inline-block;width:8px;height:8px;top:2px;background-size:cover;left:34px;"></span>
                </i>
                <div class="tit">
                  <h2 class="f-ff2 f-brk">{{ playList.name }}</h2>
                </div>
              </div>

              <div class="user f-cb">
                <a href="" class="face">
                  <img src="" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-sd4"></div>
</div>
