<div class="g-btmbar">
  <div class="m-playbar m-playbar-unlock" appClickoutside [bindFlag]="bindFlag"
    (onClickOutSide)="onClickOutSide($event)">
    <div class="updn">
      <div class="left f-fl">
        <a class="btn"></a>
      </div>
      <div class="right f-fl"></div>
    </div>
    <div class="bg"></div>
    <div class="hand"></div>
    <div class="wrap">
      <div class="btns">
        <a href="javascript: void(0);" class="prv" (click)="onPrev(currentIndex - 1)">上一首</a>
        <a href="javascript: void(0);" class="ply j-flag" [class.pas]="playing" (click)="onToggle()">播放/暂停(p)</a>
        <a href="javascript: void(0);" class="nxt" (click)="onNext(currentIndex + 1)">下一首</a>
      </div>

      <div class="head j-flag">
        <img [src]="picUrl" />
        <a class="mask"></a>
      </div>

      <div class="play">
        <div class="j-flag words">
          <a href="javascript: void(0);" class="f-thide name fc1 f-fl">{{ currentSong?.name }}</a>
          <span class="by f-thide f-fl">
            <span *ngIf="currentSong">
              <a href="javascript: void(0);" *ngFor="let singer of currentSong?.ar;let i = index">
                {{ singer.name }}
                <ng-container *ngIf="i !== currentSong.ar.length - 1">
                  /
                </ng-container>
              </a>
            </span>
          </span>
          <a class="src" *ngIf="currentSong"></a>
        </div>
        <div class="m-pbar">
          <app-wy-slide [(ngModel)]="percent" [progressBar]="progressBar" [needProgressBar]="true"
            (wyOnAfterChange)="onPercentChange($event)"></app-wy-slide>
          <span class="j-flag time">
            <em>{{ currentTime | formatTime }}</em> / {{ duration | formatTime}}
          </span>
        </div>
      </div>

      <div class="oper f-fl">
        <a class="icn icn-pip"></a>
        <a class="icn icn-add j-flag"></a>
        <a class="icn icn-share"></a>
      </div>

      <div class="ctrl f-fl f-pr j-flag">
        <div class="m-vol" [hidden]="!showVolumnPanel">
          <div class="barbg"></div>
          <div class="barbg-bar">
            <app-wy-slide [(ngModel)]="volume" direction="vertical" (wyOnAfterChange)="onVolumeChange($event)">
            </app-wy-slide>
          </div>
        </div>
        <a href="javascript: void(0)" class="icn icn-vol" (click)="toggleVolPanel()"></a>
        <a href="javascript: void(0)" class="icn" [class]="currentMode.type" [title]="currentMode.type"
          (click)="changeMode()"></a>
        <span class="add f-pr">
          <span class="tip" style="display: none;">已添加到播放列表</span>
          <a href="javascript: void(0);" class="icn icn-list s-fc3" (click)="togglePanel()">{{ playList.length }}</a>
        </span>
        <!-- <div class="tip tip-1">循环</div> -->
      </div>
    </div>
    <app-wy-player-panel [playing]="playing" [songList]="songList" [currentSong]="currentSong" [show]="showPanel"
      (closeChange)="closePanel($event)">
    </app-wy-player-panel>
  </div>
</div>

<audio #audio [src]="playUrl" [volume]="volume / 100" (canplay)="onCanPlay()" (progress)="onLoadbar()"
  (timeupdate)="onTimeUpdate($event)" (ended)="onEnded()"></audio>
