
<div class="g-btmbar">
  <div class="m-playbar m-playbar-unlock">
    <div class="updn">
      <div class="left f-fl">
        <a class="btn"></a>
      </div>
      <div class="right f-fl"></div>
    </div>
    <div class="bg"></div>
    <div class="hand"></div>
    <div class="wrap">
      <div class="btns">
        <a class="prv">上一首</a>
        <a class="ply j-flag">播放/暂停(p)</a>
        <a class="nxt">下一首</a>
      </div>

      <div class="head j-flag">
        <img src="" />
        <a class="mask"></a>
      </div>

      <div class="play">
        <div class="j-flag words">
          <a class="f-thide name fc1 f-fl"></a>
          <span class="by f-thide f-fl">
            <span>
              <a></a>
            </span>
          </span>
          <a class="src"></a>
        </div>
        <div class="m-pbar">
          <div class="barbg j-flag">
            <div class="rdy"></div>
            <div class="cur">
              <span class="btn f-tdn f-alpha">
                <i></i>
              </span>
            </div>
          </div>
          <span class="j-flag time">
            <em>00:00</em> / 00:00
          </span>
        </div>
      </div>

      <div class="oper f-fl">
        <a class="icn icn-pip"></a>
        <a class="icn icn-add j-flag"></a>
        <a class="icn icn-share"></a>
      </div>

      <div class="ctrl f-fl f-pr j-flag">
        <div class="m-vol"></div>
        <a class="icn icn-vol"></a>
        <a class="icn icn-loop"></a>
        <span class="add f-pr">
          <span class="tip" style="display: none;">已添加到播放列表</span>
          <a class="icn icn-list s-fc3">2</a>
        </span>
        <div class="tip tip-1">循环</div>
      </div>
    </div>
  </div>
</div>

<audio #audio [src]="currentSong?.url"></audio>
