<div class='box' #box>
    <button (click)="insert(secondTpl)">insert second</button>
    <button (click)="insert(thirdTpl)">insert thirdTpl</button>
    <button (click)="insertAll()">insert all</button>
    <button (click)="getOne()">insert all</button>
</div>
<ng-template #firstTpl>
    <p>first tpl content</p>
    <span>second tpl content</span>
</ng-template>

<ng-template #secondTpl>
    <p>特帕拉特</p>
</ng-template>

<ng-template #thirdTpl>
    <p>san</p>
</ng-template>

<ng-template #fourthTpl>
    <p>si</p>
</ng-template>

<ng-template #freeTpl>
    <p>free</p>
</ng-template>
<ng-container #firstContainer></ng-container>

