<div>
  <div class="donut-list-actions">

    <a routerLink="new" class="btn btn--green">
      New Donut
      <img src="../../../../assets/img/svg/plus.svg" alt="">
    </a>
  </div>
  <ng-container *ngIf="donuts.length; then card else nothing"></ng-container>
  <ng-template #card>
    <ng-container *ngFor="let donut of donuts; trackBy: trackById;index as i;odd as o;even as e">
      <app-donut-card [donut]="donut"></app-donut-card>
    </ng-container>
  </ng-template>
  <ng-template #nothing>
    <p>No Donuts here</p>
  </ng-template>
</div>