<div class="m-subnav">
  <div class="wrap f-pr">
    <ul class="nav">
      <li>
        <a routerLink="/home/recommend">
          <em style="padding: 0 15px 0 11px;">
            推荐
          </em>
        </a>
      </li>
      <li>
        <a routerLink="/home/ranking">
          <em style="padding: 0 15px 0 11px;">
            排行榜
          </em>
        </a>
      </li>
      <li>
        <a routerLink="/home/list">
          <em style="padding: 0 15px 0 11px;">
            歌单
          </em>
        </a>
      </li>
      <li>
        <a routerLink="/home/radio">
          <em style="padding: 0 15px 0 11px;">
            电台
          </em>
        </a>
      </li>
      <li>
        <a routerLink="/home/singer">
          <em style="padding: 0 15px 0 11px;">
            歌手
          </em>
        </a>
      </li>
      <li>
        <a routerLink="/home/new">
          <em style="padding: 0 15px 0 11px;">
            新碟上架
          </em>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<p>home works!</p>
