<div>
    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
        <input type="text" required minlength=3 [(ngModel)]="username" #usernameRef="ngModel" name="username">
        {{usernameRef.errors | json}}
        <div *ngIf="usernameRef.errors?.required">this is required</div>
        <div *ngIf="usernameRef.errors?.minlength">should be at least 3 charactors</div>

        <input type="text" required [(ngModel)]="password" #passwordRef="ngModel" name="password">
        <div *ngIf="passwordRef.errors?.required">this is required</div>
        <button (click)="onClick()">Login</button>
    </form>
</div>