.container {
  position: relative;
  overflow: hidden;
  .image-slider {
    display: flex;
    overflow-x: scroll;
  }
}

.nav-section {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: .5;
  color: #fff;
  background-color: #000;

  .slide-button {
    display: flex;
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 50%;
  }
}
