<div>
  <app-auth-form>
    <h3>Create account</h3>
    <button type="submit">Join us</button>
  </app-auth-form>
  <app-auth-form (submitted)="loginUser($event)">
    <h3>Login</h3>
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
    <button type="submit">Login</button>
  </app-auth-form>

  <div #entry></div>
  <button (click)="destoryComponent()">destory</button>
  <ng-template #tmpl let-name let-location="location">
    {{ name }} {{ location }}
  </ng-template>
  <ng-container [ngTemplateOutlet]="tmpl" [ngTemplateOutletContext]="ctx"></ng-container>

</div>