.wrap {
  position: relative;
  margin: 0 auto;
  width: 982px;
  height: 285px;
  .ban {
    width: 982px;
    height: 285px;

    &-img {
      width: 100%;
      height: 285px;
      overflow: hidden;
    }

    .btnl {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      left: -68px;
      margin-top: -31px;
      width: 37px;
      height: 63px;
    }

    .btnr {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      right: -68px;
      margin-top: -31px;
      width: 37px;
      height: 63px;
    }

    img {
      display: block;
      width: 730px;
      height: 100%;
    }
  }
}

.wrap-bg {
  background-size: 6000px;
  background-position: center center;
}

.download {
  position: absolute;
  top: 0;
  z-index: 20;
  right: -1px;
  width: 254px;
  height: 285px;
  background: url(https://s2.music.126.net/style/web2/img/index/download.png?ee7baebdf918070d8521261de7f683ba) no-repeat 0 0;
  .btn {
    display: block;
    width: 215px;
    height: 56px;
    margin: 186px 0 0 19px;
    background: url(https://s2.music.126.net/style/web2/img/index/download.png?ee7baebdf918070d8521261de7f683ba) no-repeat 0 0;
    background-position: 0 9999px;
    text-indent: -9999px;
  }
  p {
    margin: 10px auto;
    text-align: center;
    color: #8d8d8d;
    font-size: 12px;
  }
}

[nz-icon] {
  font-size: 24px;
}

[appWyCarouselContent] {
  height: 285px;
}

.g-mn1 {
  float: left;
  width: 100%;
  margin-right: -250px;

  .g-mn1c {
    margin-right: 251px;

    .g-wrap3 {
      padding: 20px 20px 40px;
    }

    .v-hd2 {
      height: 33px;
      padding: 0 10px 0 34px;
      border-bottom: 2px solid #C10D0C;
      background-position: -225px -156px;
      .tit {
        float: left;
        font-size: 20px;
        font-weight: normal;
        line-height: 28px;
      }

      .tab {
        float: left;
        margin: 7px 0 0 20px;

        .line {
          margin: 0 10px;
          color: #ccc;
        }
      }

      .more {
        float: right;
        margin-top: 9px;
        .s-bg {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 4px;
          vertical-align: middle;
          background-position: 0 -240px;
        }
      }
    }
  }
}

.g-sd1 {
  position: relative;
  float: right;
  width: 250px;
  zoom: 1;
  .n-myinfo-1 {
    height: 126px;
    padding-top: 0;
  }

  .note {
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 22px;
  }

  .btn {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
}
}

.m-cvrlst {
  margin: 20px 0 0 -42px;
  li {
    display: inline-block;
    width: 140px;
    height: 188px;
    overflow: hidden;
    padding: 0 0 30px 50px;
    line-height: 1.4;
  }
}

.n-rcmd .m-cvrlst li {
  box-sizing: content-box;
  width: 140px;
  height: 204px;
  padding-left: 42px;
}

.n-disk {
  position: relative;
  zoom: 1;
  height: 186px;
  margin: 20px 0 37px;
  border: 1px solid #d3d3d3;

  .inner {
    height: 184px;
    padding-left: 16px;
    background: #f5f5f5;
    border: 1px solid #fff;
  }

  .roll {
    float: left;
    width: 645px;
    height: 180px;
    overflow: hidden;
  }

  ul {
    position: absolute;
    top: 0;
    width: 645px;
    margin: 28px 0 0 0;
  }

  li {
    float: left;
    display: inline;
    width: 118px;
    height: 150px;
    margin-left: 11px;
    background-position: -260px 100px;
  }

  .u-cover {
    margin-bottom: 7px;
  }

  p {
    width: 90%;
    line-height: 18px;
  }

  .pre {
    position: absolute;
    top: 71px;
    left: 4px;
    width: 17px;
    height: 17px;
  }

  .nxt {
    position: absolute;
    top: 71px;
    width: 17px;
    height: 17px;
  }
}

.n-bilst {
  height: 472px;
  margin-top: 20px;
  padding-left: 1px;

  .blk {
    float: left;
    width: 230px;
  }

  .blk-l {
    width: 226px;
  }

  .top {
    box-sizing: content-box;
    height: 100px;
    padding: 20px 0 0 19px;
  }

  .cver {
    float: left;
    display: inline;
  }

  .tit {
    float: left;
    width: 116px;
    margin: 6px 0 0 10px;
    h3 {
      width: 100%;
    }
  }

  .btn {
    margin-top: 10px;
    a {
      display: block;
      float: left;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      text-indent: -9999px;
    }

    .s-bg-9 {
      background-position: -267px -205px;
    }

    .s-bg-10 {
      background-position: -300px -205px;
    }
  }

  ol {
    height: 319px;
    margin-left: 50px;
    line-height: 32px;

    .nm {
      float: left;
      width: 170px;
      height: 32px;
    }

    li {
      height: 32px;
      &:hover .nm {
        width: 96px;
      }

      &.z-hvr .oper {
        display: block;
      }
    }

    .no {
      float: left;
      position: relative;
      width: 35px;
      height: 32px;
      margin-left: -35px;
      text-align: center;
      color: #666;
      font-size: 16px;
    }

    .no-top {
      color: #c10d0c;
    }

    .oper {
      display: none;
      float: right;
      width: 82px;
      margin-top: 7px;

      a {
        float: left;
        width: 17px;
        height: 17px;
        margin-right: 10px;
      }

      .u-icn-81 {
        margin: 2px 6px 0 0;
      }
    }

  }

  .more {
    clear: both;
    height: 32px;
    margin-right: 32px;
    text-align: right;
    line-height: 32px;
  }
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
