<div class="wrap-bg" [style.backgroundImage]='indexColor'>
  <div class="wrap">
    <div class="ban f-pr">
      <app-wy-carousel #carousel [nzAutoPlay]="true" (nzBeforeChange)="beforeChange($event)">
        <div appWyCarouselContent *ngFor="let img of banner">
          <img [src]="img.imageUrl" [title]="img.typeTitle" />
          <div class="download">
            <a class="btn">下载客户端</a>
            <p>PC 安卓 iPhone WP iPad Mac 六大客户端</p>
          </div>
        </div>
      </app-wy-carousel>

      <a href="javascript:void(0)" class="btnl click-flag f-alpha" (click)="changeImage('prev')">
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </a>
      <a href="javascript:void(0)" class="btnr click-flag f-alpha" (click)="changeImage('next')">
        <span nz-icon nzType="right" nzTheme="outline"></span>
      </a>
    </div>
  </div>
</div>

<div id="discover-module" class="g-bd1 f-cb">
  <div class="g-mn1">
    <div class="g-mn1c">
      <div class="g-wrap3">
        <div class="n-rcmd">
          <div class="v-hd2">
            <a href="" class="tit f-tdn">热门推荐</a>
            <div class="tab">
              <a href="" class="s-fc3">华语</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">流行</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">摇滚</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">民谣</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">电子</a>
            </div>
            <span class="more">
              <a href="" class="s-fc3">更多</a>
              <i class="s-bg"></i>
            </span>
          </div>
          <ul class="m-cvrlst f-cb">
            <li *ngFor="let song of songSheet">
              <a [routerLink]="['../sheetinfo', song.id]">
                <app-sing-sheet [song]="song"></app-sing-sheet>
              </a>
            </li>
          </ul>
        </div>
        <div class="n-new">
          <div class="v-hd2">
            <a href="" class="tit f-tdn">新碟上架</a>
            <span class="more">
              <a href="" class="s-fc3">更多</a>
              <i class="s-bg"></i>
            </span>
          </div>
          <div class="n-disk">
            <div class="inner">
              <a href="javascript:void(0)" class="click-flag pre s-bg s-bg-7 f-tdn">
              </a>
              <div class="roll f-pr">
                <app-wy-carousel #carousel [nzAutoPlay]="false">
                  <ul appWyCarouselContent class="f-cb roller-flag" *ngFor="let album of albums">
                    <li *ngFor="let item of album">
                      <div class="u-cover u-cover-albl">
                        <img [src]="item.picUrl" alt="">
                        <a href="" class="msk"></a>
                      </div>
                      <p class="f-thide">
                        <a href="">{{ item.name }}</a>
                      </p>
                      <p class="tit f-thide">
                        <a href="" class="s-fc3">{{ item.artist.name }}</a>
                      </p>
                    </li>
                  </ul>
                </app-wy-carousel>

              </div>
              <a href="javascript:void(0)" class="click-flag nxt s-bg s-bg-8 f-tdn">
              </a>
            </div>
          </div>
        </div>
        <div class="n-bill">
          <div class="v-hd2">
            <a href="" class="tit f-tdn">榜单</a>
            <span class="more">
              <a href="" class="s-fc3">更多</a>
              <i class="s-bg"></i>
            </span>
          </div>
          <div class="n-bilst">
            <dl class="blk">
              <dt class="top">
                <div class="cver u-cover u-cover-4">
                  <img [src]="toplist?.playlist?.coverImgUrl" alt="">
                  <a href="" class="msk"></a>
                </div>
                <div class="tit">
                  <a href="">
                    <h3 class="f-fs1 f-thide">{{ toplist?.playlist?.name }}</h3>
                  </a>
                  <div class="btn">
                    <a class="s-bg s-bg-9 f-tdn"></a>
                    <a class="s-bg s-bg-10 f-tdn subscribe-flag "></a>
                  </div>
                </div>
              </dt>
              <dd>
                <ol>
                  <li (mouseover)="addClass(i, item, 'top')" (mouseleave)="removeClass()"
                    [class.z-hvr]="isHoving == i + item.name + 'top'"
                    *ngFor="let item of toplist?.playlist?.tracks | slice:0:10;let i = index;">
                    <span class="no" [class.no-top]="i + 1 < 4">{{ i + 1 }}</span>
                    <a href="" class="nm f-thide">{{ item.name }}</a>
                    <div class="oper">
                      <a href="javascript:void(0);" class="s-bg s-bg-11" (click)="onPlay(item)"></a>
                      <a href="" class="u-icn u-icn-81"></a>
                      <a href="" class="s-bg s-bg-12"></a>
                    </div>
                  </li>
                </ol>
                <div class="more">
                  <a href="">查看全部></a>
                </div>
              </dd>
            </dl>
            <dl class="blk">
              <dt class="top">
                <div class="cver u-cover u-cover-4">
                  <img [src]="newList?.playlist?.coverImgUrl" alt="">
                  <a href="" class="msk"></a>
                </div>
                <div class="tit">
                  <a href="">
                    <h3 class="f-fs1 f-thide">{{ newList?.playlist?.name }}</h3>
                  </a>
                  <div class="btn">
                    <a class="s-bg s-bg-9 f-tdn"></a>
                    <a class="s-bg s-bg-10 f-tdn subscribe-flag "></a>
                  </div>
                </div>
              </dt>
              <dd>
                <ol>
                  <li (mouseover)="addClass(i, item, 'new')" (mouseleave)="removeClass()"
                    *ngFor="let item of newList?.playlist?.tracks | slice:0:10;let i = index;"
                    [class.z-hvr]="isHoving == i + item.name + 'new'">
                    <span class="no" [class.no-top]="i + 1 < 4">{{ i + 1 }}</span>
                    <a href="" class="nm f-thide">{{ item.name }}</a>
                    <div class="oper">
                      <a href="javascript: void(0);" class="s-bg s-bg-11" (click)="onPlay(item, true)"></a>
                      <a href="" class="u-icn u-icn-81"></a>
                      <a href="" class="s-bg s-bg-12"></a>
                    </div>
                  </li>
                </ol>
                <div class="more">
                  <a href="">查看全部></a>
                </div>
              </dd>
            </dl>
            <dl class="blk blk-l">
              <dt class="top">
                <div class="cver u-cover u-cover-4">
                  <img [src]="hotList?.playlist?.coverImgUrl" alt="">
                  <a href="" class="msk"></a>
                </div>
                <div class="tit">
                  <a href="">
                    <h3 class="f-fs1 f-thide">{{ hotList?.playlist?.name }}</h3>
                  </a>
                  <div class="btn">
                    <a class="s-bg s-bg-9 f-tdn"></a>
                    <a class="s-bg s-bg-10 f-tdn subscribe-flag "></a>
                  </div>
                </div>
              </dt>
              <dd>
                <ol>
                  <li (mouseover)="addClass(i, item, 'hot')" (mouseleave)="removeClass()"
                    [class.z-hvr]="isHoving == i + item.name + 'hot'"
                    *ngFor="let item of hotList?.playlist?.tracks | slice:0:10;let i = index;">
                    <span class="no" [class.no-top]="i + 1 < 4">{{ i + 1 }}</span>
                    <a href="" class="nm f-thide">{{ item.name }}</a>
                    <div class="oper">
                      <a href="javascript: void(0);" class="s-bg s-bg-11" (click)="onPlay(item)"></a>
                      <a href="" class="u-icn u-icn-81"></a>
                      <a href="" class="s-bg s-bg-12"></a>
                    </div>
                  </li>
                </ol>
                <div class="more">
                  <a href="">查看全部></a>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="g-sd1">
    <div class="n-user-profile">
      <div class="n-myinfo n-myinfo-1 s-bg s-bg-1">
        <p class="note s-fc3">登录网易云音乐，可以享受无限收藏的乐趣，并且无限同步到手机</p>
        <a href="javascript:;" class="btn s-bg s-bg-2 f-tdn" (click)="openLoginModal()">用户登录</a>
      </div>
    </div>
    <div class="n-singer">
      <h3 class="v-hd3">
        <span class="f-fl">入驻歌手</span>
        <a href="" class="more s-fc3">查看全部</a>
      </h3>
      <ul class="n-enter f-cb">
        <li *ngFor="let song of singerList | slice:0:6;">
          <a href="" class="itm f-tdn">
            <div class="head">
              <img [src]="song.picUrl" alt="">
            </div>
            <div class="ifo">
              <h4>
                <span class="nm f-fs1 f-ib f-thide">{{ song.name }}</span>
              </h4>
              <p class="f-thide s-fc3">专辑: {{ song.albumSize }}</p>
            </div>
          </a>
        </li>
      </ul>
      <div>
        <a href="" class="u-btn2 u-btn2-1">
          <i>申请成为网易音乐人</i>
        </a>
      </div>
    </div>
    <div class="n-dj n-dj-1">
      <h3 class="v-hd3">热门主播</h3>
      <ul class="n-hotdj f-cb">
        <li *ngFor="let dj of djList">
          <a href="" class="cver">
            <img [src]="dj.avatarUrl" alt="">
          </a>
          <div class="info">
            <p>
              <a href="" class="nm-icn f-thide s-fc0">{{ dj.nickName }}</a>
            </p>
            <p class="f-thide s-fc3"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-wy-modal [(ngModel)]="showLogin">
  <div class="cnt-box-include">
    <div class="g-bd">
      <div class="m-cnt">
        <form action="" [formGroup]="formModel" (ngSubmit)="onSubmit()">
          <div class="inputbox">
            <div class="u-input mbItlBox">
              <!-- <label class="u-label f-dn">请输入手机号</label> -->
              <div class="country">
                <em>+86</em>
              </div>
              <input type="tel" class="dlemail" id="phone" placeholder="请输入手机号" formControlName="phone">
            </div>
          </div>

          <div class="m-pccnt f-cb">
            <div class="m-pcbox">
              <div class="inputbox m-mb m-pc f-fl">
                <div class="u-input">
                  <input type="tel" class="j-inputtext pcin" placeholder="请输入短信验证码" formControlName="code">
                </div>
              </div>
              <div class="pcbtn f-fl">
                <a class="tabfocus getsmscode " href="javascript:void(0);" (click)="getLoginCode()"
                  [class.disable]="codeBtnDisable">
                  {{ codeStr }}
                </a>
              </div>
              <div class="m-nerror">
                <div class="j-icon ferrortail"></div>
                <div class="ferrorhead">
                  <ng-container
                    *ngIf="formModel.controls['phone'].invalid && (formModel.controls['phone'].dirty || formModel.controls['phone'].touched )">
                    <ng-container *ngIf="formModel.controls['phone'].errors?.['required']">
                      请输入手机号
                    </ng-container>
                    <ng-container *ngIf="formModel.controls['phone'].errors?.['required']">
                      手机号格式错误
                    </ng-container>
                  </ng-container>
                  <ng-container
                    *ngIf="formModel.controls['code'].invalid && (formModel.controls['code'].dirty || formModel.controls['code'].touched )">
                    <ng-container *ngIf="formModel.controls['code'].errors?.['required']">
                      请输入验证码
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="f-cb loginbox">
                <button type="submit" class="u-loginbtn btncolor tabfocus">登录</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-wy-modal>
