<div class="wrap-bg" [style.backgroundImage]='indexColor'>
  <div class="wrap">
    <div class="ban f-pr">
      <app-wy-carousel #carousel [nzAutoPlay]="true" (nzBeforeChange)="beforeChange($event)">
        <div appWyCarouselContent *ngFor="let img of banner">
          <img [src]="img.imageUrl" [title]="img.typeTitle" />
          <div class="download">
            <a class="btn">下载客户端</a>
            <p>PC 安卓 iPhone WP iPad Mac 六大客户端</p>
          </div>
        </div>
      </app-wy-carousel>

      <a href="javascript:void(0)" class="btnl click-flag f-alpha" (click)="changeImage('prev')">
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </a>
      <a href="javascript:void(0)" class="btnr click-flag f-alpha" (click)="changeImage('next')">
        <span nz-icon nzType="right" nzTheme="outline"></span>
      </a>
    </div>
  </div>
</div>

<div id="discover-module" class="g-bd1 f-cb">
  <div class="g-mn1">
    <div class="g-mn1c">
      <div class="g-wrap3">
        <div class="n-rcmd">
          <div class="v-hd2">
            <a href="" class="tit f-tdn">热门推荐</a>
            <div class="tab">
              <a href="" class="s-fc3">华语</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">流行</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">摇滚</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">民谣</a>
              <span class="line">|</span>
              <a href="" class="s-fc3">电子</a>
            </div>
            <span class="more">
              <a href="" class="s-fc3">更多</a>
              <i class="s-bg"></i>
            </span>
          </div>
          <ul class="m-cvrlst f-cb">
            <li *ngFor="let song of songSheet">
              <app-sing-sheet [song]="song"></app-sing-sheet>
            </li>
          </ul>
        </div>
        <div class="n-new">
          <div class="v-hd2">
            <a href="" class="tit f-tdn">新碟上架</a>
            <span class="more">
              <a href="" class="s-fc3">更多</a>
              <i class="s-bg"></i>
            </span>
          </div>
          <div class="n-disk">
            <div class="inner">
              <a href="javascript:void(0)" class="click-flag pre s-bg s-bg-7 f-tdn">
              </a>
              <div class="roll f-pr">
                <app-wy-carousel #carousel [nzAutoPlay]="false">
                  <ul appWyCarouselContent class="f-cb roller-flag" *ngFor="let album of albums">
                    <li *ngFor="let item of album">
                      <div class="u-cover u-cover-albl">
                        <img [src]="item.picUrl" alt="">
                        <a href="" class="msk"></a>
                      </div>
                      <p class="f-thide">
                        <a href="">{{ item.name }}</a>
                      </p>
                      <p class="tit f-thide">
                        <a href="" class="s-fc3">{{ item.artist.name }}</a>
                      </p>
                    </li>
                  </ul>
                </app-wy-carousel>

              </div>
              <a href="javascript:void(0)" class="click-flag nxt s-bg s-bg-8 f-tdn">
              </a>
            </div>
          </div>
        </div>
        <div class="n-bill">
          <div class="v-hd2">
            <a href="" class="tit f-tdn">榜单</a>
            <span class="more">
              <a href="" class="s-fc3">更多</a>
              <i class="s-bg"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="g-sd1"></div>
</div>
