<ul *ngIf="pageSize">
  <li class="prev" [class.disabled]="currentIndex === 1">
    <button class="item-link" [disabled]="currentIndex === 1" (click)="changeCurrentIndex(currentIndex - 1)">
      <span nz-icon nzType="left" nzTheme="outline"></span>
    </button>
  </li>

  <li class="item" *ngIf="currentIndex > 3">
    <a href="javascript:;" (click)="changeCurrentIndex(1)">{{ 1 }}</a>
  </li>

  <li class="jump-next" *ngIf="showPrevBtn">
    <a href="javascript:;" (click)="changeCurrentIndex(currentIndex - 5)">
      <div class="item-container">

        <span class="jump-next-right" nz-icon nzType="double-left" nzTheme="outline"></span>
        <span class="item-ellipsis">•••</span>
      </div>
    </a>
  </li>

  <li class="item" *ngFor="let num of pageArr" [class.item-active]="num === currentIndex"
    (click)="changeCurrentIndex(num)">
    <a href="javascript:;">{{num}}</a>
  </li>

  <li class="jump-next" *ngIf="showNextBtn">
    <a href="javascript:;" (click)="changeCurrentIndex(currentIndex + 5)">
      <div class="item-container">

        <span class="jump-next-right" nz-icon nzType="double-right" nzTheme="outline"></span>
        <span class="item-ellipsis">•••</span>
      </div>
    </a>
  </li>

  <li class="item" *ngIf="currentIndex < pageSize - 2 ">
    <a href="javascript:;" (click)="changeCurrentIndex(pageSize)">{{ pageSize }}</a>
  </li>

  <li class="prev" [class.disabled]="pageSize === currentIndex">
    <button class="item-link" [disabled]="pageSize === currentIndex" (click)="changeCurrentIndex(currentIndex + 1)">
      <span nz-icon nzType="right" nzTheme="outline"></span>
    </button>
  </li>
</ul>
