<ul>
  <li class="prev">
    <button class="item-link">
      <span nz-icon nzType="left" nzTheme="outline"></span>
    </button>
  </li>

  <li class="item">
    <a href="javascript:;">1</a>
  </li>
  <li class="item item-active">
    <a href="javascript:;">2</a>
  </li>
  <li class="item">
    <a href="javascript:;">3</a>
  </li>
  <li class="item">
    <a href="javascript:;">4</a>
  </li>
  <li class="item">
    <a href="javascript:;">5</a>
  </li>

  <li class="item">
    <a href="javascript:;">
      <div class="item-container">

        <span class="item-ellipsis">•••</span>
      </div>
    </a>
  </li>
</ul>
