<!-- <img [src]="url" alt="">

<table class="table-bordered">
  <tr>
    <th>name</th>
    <th>phone</th>
    <th>age</th>
  </tr>
  <tr>
    <td>3</td>
    <td>110</td>
    <td>18</td>
  </tr>
  <tr>
   <td [colSpan]="conspan">李四</td>
    <td>4</td>
    <td>4</td>
  </tr>
</table>

<button [disabled]="isAbled"></button> -->

<!-- 自定义属性 
<span [attr.data-title]="customTitle">文字</span>

 绑定样式 
 单个class 
<div [class.isActive]="true">单个</div>

 多个class 
<div [class]="btnCls">多个</div>
<div [class]="btnCls2">多个2</div>
<div [class]="btnCls3">多个3</div>

<div [ngClass]="btnCls">多个</div>
<div [ngClass]="btnCls2">多个2</div>
<div [ngClass]="btnCls3">多个3</div>

 绑定单个style

<div [style.width]="width">单个style</div>  不带单位是字符串 
<div [style.width.px]="width2">单个style</div>  带单位是数值 

 绑定多个style 

<div [style]="styleExpr">多个style</div>
<div [style]="styleExpr2">多个style2</div>
<div [style]="styleExpr3">多个style3</div>

 ngStyle 以后可能 会弃用 不推荐 -->

<!-- <app-transfer-panel [list]="list" (changed)="onChanged($event)"></app-transfer-panel> -->
<app-transfer [sourceData]="list" [search]="true"></app-transfer>

<!-- <app-example></app-example>

<app-tpl-container></app-tpl-container>

<app-life-cycle title="dasdasdasd"></app-life-cycle> -->