.m-top {
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  height: 70px;
  background: #242424;
  border-bottom: 1px solid #000;

  &-wrap {
    margin: 0 auto;
    width: 1100px;
    background: #242424;
  }

  &-list {
    background: #242424;
    color: #fff;
  }

  &-item {
    &:hover {

    }
  }
}

[nz-menu] {
  line-height: 70px;
  border-bottom: none;
  & > li {
    border-bottom: none;
  }
}

nz-content {
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.m-playbar .updn .left, .m-playbar .updn .right, .m-playbar .updn .btn,
.m-playbar .bg, .m-playbar .btns a, .m-playbar .head .mask,
.m-playbar .icn, .m-playbar .ctrl, .m-playbar .tip,
.m-vol .curr, .m-playbar .words .mv, .m-vol .barbg, .m-playbar .words .src {
  background: url(../assets/img/playbar.png) no-repeat 0 9999px;
}

.m-pbar .barbg, .m-pbar .cur, .m-pbar .rdy, .m-pbar .left {
  background: url(../assets//img/statbar.png) no-repeat 0 9999px;
}

.m-pbar .btn, .m-vol .btn {
  background: url(../assets/img/iconall.png) no-repeat;
}

.m-playbar .btns, .m-playbar .head, .m-playbar .play, .m-playbar .volum, .m-playbar .oper {
  float: left;
}

.m-playbar .head, .m-playbar .head img {
  width: 34px;
  height: 34px;
}

.m-playbar {
  position: absolute;
    zoom: 1;
    top: -53px;
    left: 0;
    width: 100%;
    height: 53px;
    margin: 0 auto;
  .bg {
    height: 53px;
    zoom: 1;
    margin-right: 67px;
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .updn {
    position: relative;
    z-index: 11;

    .btn {
      display: block;
      width: 18px;
      height: 18px;
      margin: 6px 0 0 17px;
    }

    .left {
      position: absolute;
      top: -14px;
      right: 15px;
      width: 52px;
      height: 67px;
      background-position: 0 -380px;
    }

    .right {
      position: absolute;
      top: -1px;
      right: 0;
      width: 15px;
      height: 54px;
      background-position: -52px -393px;
      pointer-events: none;
    }
  }

  .hand {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    cursor: pointer;
  }

  .wrap {
    position: absolute;
    left: 50%;
    top: 6px;
    z-index: 15;
    width: 980px;
    height: 47px;
    margin: 0 auto;
    margin-left: -490px;

    .oper {
      float: left;
      width: 87px;
      .icn-pip {
        position: relative;
        background: url(../assets/img/barword.png) no-repeat 0 0;
      }

      .icn-add {
        background-position: -88px -163px;
      }

      .icn-share {
        background-position: -114px -163px;
      }
    }
  }

  .head {
    position: relative;
    *zoom: 1;
    margin: 6px 15px 0 0;

    .mask {
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 34px;
      height: 35px;
      background-position: 0 -80px;
    }
  }

  .btns {
    width: 137px;
    padding: 6px 0 0 0;

    a {
      display: block;
      float: left;
      width: 28px;
      height: 28px;
      margin-right: 8px;
      margin-top: 5px;
      text-indent: -9999px;
    }

    .prv {
      background-position: 0 -130px;
    }

    .ply {
      width: 36px;
      height: 36px;
      margin-top: 0;
      background-position: 0 -204px;
    }

    .nxt {
      background-position: -80px -130px;
    }
  }

  .words {
    height: 28px;
    overflow: hidden;
    color: #e8e8e8;
    text-shadow: 0 1px 0 #171717;
    line-height: 28px;

    .fc1 {
      color: #e8e8e8;
    }

    .name {
      max-width: 300px;
    }

    .src {
      float: left;
      width: 14px;
      height: 15px;
      margin: 7px 0 0 13px;
      background-position: -110px -103px;
    }

    .by {
      max-width: 220px;
      margin-left: 15px;
      color: #9b9b9b;
    }

    .oper {
      width: 87px;
    }
  }

  .play {
    width: 581px;
    .m-pbar {
      width: 466px;

      .barbg {
        width: 466px;
        height: 9px;
        background-position: right 0;
      }
    }
  }

  .icn {
    float: left;
    width: 25px;
    height: 25px;
    margin: 11px 2px 0 0;
    text-indent: -9999px;
  }

  .ctrl {
    box-sizing: content-box;
    position: relative;
    z-index: 10;
    width: 113px;
    padding-left: 13px;
    background-position: -147px -238px;
  }

  .icn-vol {
    background-position: -2px -248px;
  }

  .icn-loop {
    background-position: -3px -344px;
  }

  .add {
    float: left;
    width: 59px;
    height: 36px;
  }

  .tip {
    position: absolute;
    top: -51px;
    left: -65px;
    clear: both;
    width: 152px;
    height: 49px;
    background-position: 0 -287px;
    text-align: center;
    color: #fff;
    line-height: 37px;

    &-1 {
      top: -35px;
      left: 12px;
      width: 81px;
      height: 39px;
      line-height: 34px;
      background-position: 0 -457px;
    }
  }

  .add {
    float: left;
    width: 59px;
    height: 36px;
  }

  .icn-list {
    display: block;
    float: none;
    width: 38px;
    padding-left: 21px;
    background-position: -42px -68px;
    line-height: 27px;
    text-align: center;
    color: #666;
    text-shadow: 0 1px 0 #080707;
    text-indent: 0;
    text-decoration: none;
  }

  .m-vol {
    position: absolute;
    top: -113px;
    left: 9px;
    clear: both;
    width: 32px;
    height: 113px;
    .barbg {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 113px;
      background-position: 0 -503px;
    }

    .vbg {
      padding: 4px 0;
      top: 7px;
      position: absolute;
      left: 14px;
      width: 4px;
      height: 93px;
    }

    .curr {
      top: auto;
      bottom: 4px;
      left: 0;
      background-position: -40px bottom;
      overflow: hidden;
    }

    .btn {
      position: absolute;
      top: 0;
      left: -7px;
      display: block;
      width: 18px;
      height: 20px;
      background-position: -40px -250px;
      _background-position: 0 0;
      cursor: pointer;
  }
  }
}

.m-playbar-unlock {
  .updn {
    .btn {
      background-position: -80px -380px;
    }
  }
}

.m-pbar {
  position: relative;
  width: 499px;

  .barbg, .cur, .rdy {
    height: 9px;
    background-position: right 0;
  }

  .rdy {
    background-position: right -30px;
  }

  .cur {
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    background-position: left -66px;
  }

  .btn {
    position: absolute;
    top: -7px;
    right: -13px;
    width: 22px;
    height: 24px;
    margin-left: -11px;
    background-position: 0 -250px;
    _background-position: 0 0;

    i {
      visibility: hidden;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 12px;
      height: 12px;
      background: url(../assets/img/loading.gif);
    }
  }

  .time {
    position: absolute;
    top: -3px;
    right: -84px;
    color: #797979;
    text-shadow: 0 1px 0 #121212;

    em {
      color: #a1a1a1;
    }
  }
}

.m-vol .vbg, .m-vol .curr {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 4px;
  height: 93px;
}
